.profile-cont {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.profile-name {
    font-size: 30px;
    font-weight: 550;
}

.profile-cont img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    outline: 2px solid cyan;
}

.feedback-cont {
    width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    background-color: rgb(232, 248, 255);
    padding: 20px;
}

.title-f {
    font-size: 30px;
    font-weight: bolder;
}

.f-card {
    width: 90%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.f-del {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

.share{
    background-color: rgb(232, 248, 255);
    padding: 5px 25px;
    border: 2px solid rgb(4, 4, 94);
    border-radius: 11px;
    cursor: pointer;
}